*{
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');


body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #2a2a2a !important;
}





/* Header */
.cabecera {
    width: 100vw;
    position:sticky;
    top: 0;
    justify-content: center;
    grid-area: header;
    z-index: 999;

}

.subrayado {
    text-decoration: underline;
    color: #2a2a2a;
}

.foto_tornillos {
    width: 170px;
    height: 50px;
    margin-left: 45.5vw;

}


.cabecera__lista {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
	margin: auto;
	max-width: 1000px;
    align-items:flex-start; 
}

.cabecera__link {
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    padding: 1rem 2rem 1.15rem;
}

.cabecera__link:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #fc0000;
	font-weight: bold;
}

.cabecera__link:active {
    transform: translateY(4px);
}

.cabecera__link__item {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
     font-size:large;
    font-weight: bold;
    width: 50px;
    height: 50px;

}

.expansible{
    z-index: 2;

}
.nav-link-header {
    text-decoration: none;
    color: white;
}

.nav-link-header:hover {
    color: coral;
}

/* ANIMACIONES */
@keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }


/* Fin Header */

/* Video Informativo */
  .video__div {
    margin-bottom: 200px;
  }
  .video__section {
    background-color: coral;
  }

  .carousel-inner {
    max-height: 39rem;
    padding-top: 2rem;
  }
.video__informativo__parrafo {
    font-size: large;
    font-weight: bold;
    margin: auto;
    padding: 2%;
    margin-right: 5%;
    color: #2a2a2a;
}
/* Fin Video Informativo */

/* Titulo */
.titulo__section {
 height: 75px;
 width: auto;
 background-color: coral;
}

.titulo-index {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #2a2a2a;
    font-size: 124px;
    letter-spacing: 8px;
    cursor: pointer;
  }


.titulo-index::before {
    content: "TRABAJOS";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      #2a2a2a 2px,
      #2a2a2a 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .titulo-index::after {
    content: "TRABAJOS";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      #2a2a2a 2px,
      #2a2a2a 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .titulo-index:hover::before {
    top: 10px;
    left: 10px;
  }
  
  .titulo-index:hover::after {
    top: -10px;
    left: -10px;
  } 
  

/* Fin titulo */

/* Imágenes */

.cartas {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-warp : warp;
    padding : 30px;  
  }
  
  .cartas .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : coral;
    margin : 30px 10px;
    padding : 20px 15px;
    margin: 20px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .cartas .card:hover {
    height : 320px;    
  }
  
  
  .cartas .card .work-image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .cartas .card .work-image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .cartas .card .contenido-cartas {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .cartas .card:hover .contenido-cartas {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }
/* Fin Imágenes */

/* Footer */

footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
     justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: white;
    z-index: 1 !important;
}

.linea-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: bottom;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.linea {

    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-contenedor {
    height: fit-content;
    width: 100%;    
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 6rem;
}

.footer-content-contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0,5s;
}

.menu-item-footer:hover{
    opacity: 1;
    color:coral;
} 

.menu-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}


.social-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 30px;
    background-image:url(/multimedia/images/Facebook.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
    background-image:url(/multimedia/images/Instagram.png) ;
}
footer .social-link:nth-of-type(3) {
    background-image:url(/multimedia/images/Cel.png) ;
}

@media (max-width: 768px)  {
    .footer-contenedor {
        padding: 2rem;
        flex-direction: column;
    }

    .desktop{
        display: none;
    }
    .footer-content-contenedor {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2a2a2a ;
        justify-content: center;
        align-items: center;
    }

    .footer-content-contenedor:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer-content-contenedor:nth-of-type(3) {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2a2a2a;
    }

    .footer-menus .footer-content-contenedor:nth-of-type(1) {
        width: 45%;
        align-items:flex-start; 
        border-bottom: none;
    }

    .footer-menus .footer-content-contenedor:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
    }

    .cartas .card {
        width: 100% !important;
       margin-bottom: 20%;
       margin-top: 20%;
       margin-left: 24vw;
    }

    .titulo__section {
        width: 100% !important;
        margin-left: 100vw;
    }


}

@media only screen and (min-width:769px) {
    .expansible {
        display: none;
    }
}